body {
    background-color: rgb(199, 228, 200);
}

/*h1*/
h1 {
    color:rgb(112, 1, 1);
    font-size:large; 
    font-family:'Times New Roman', Times, serif;
}
h1.highlight {
    background-color: rgb(74, 74, 95);
}

/*h2*/
h2 {
    color:aqua;
    font-size: small;
    font-family:'Times New Roman', Times, serif;
}

span {
    background-color: bisque;
}

